/*html {
	font-size: 100px;
}*/

body {
	background-color: #0C956A;
}

p {
	display: block;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
ul li{
	list-style:none;
}
ul{
	list-style:none;
	display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0rem;
}
/*我的奖品*/
.RechCardRecord {
	position: fixed;
	right: 0;
	top: 0.2rem;
	width: 0.68rem;
	height: 0.24rem;
	line-height: 0.22rem;
	/*font-size: 0.12rem;*/
	text-align: center;
	/*color:rgba(255,255,255,1);*/
	/*background-color:#FF863E;
	border-radius:12px 0px 0px 12px;*/
	background-image: url(http://qiniuapp.hailangkeji.com/octDstjNationalFirstMyEx.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
	/*z-index: 8;*/
}
.conetnt {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 0.14rem;
}

.conetntHead {
	width: 100%;
	/*height: 2.42rem;
	background-image: url(http://qiniuapp.hailangkeji.com/juneFourthTipHead.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;*/
}
.conetntHead img{
	width: 100%;
}
.conetntList {
	width: 84%;
	height: 0.26rem;
	margin: 0 auto;
	padding-top: 0.1rem;
	background-image: url(http://qiniuapp.hailangkeji.com/juneFourthListBg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}
.conetntList>div{
	width: 100%;
	height: 0.26rem;
	line-height: 0.26rem;
	margin: 0 auto;
}
.conetntList li{
	height: 0.26rem;
	/*padding-top: 0.5rem;*/
	margin-top: 0.1rem;
	padding-left: 0.22rem;
	line-height: 0.26rem;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
}
.conetntList li>span{
	color: #FFF000;
}
/*.conetntHead>div{
	width: 100%;
	height: 100%;
	background-image: url(http://qiniuapp.mqkji.cn/sprFesThFir.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
	opacity: 0.1;
}*/

.conetntCard {
	/*position: relative;*/
	width: 100%;
	/*margin: 0 auto;*/
	/*height: 4.58rem;*/
	text-align: center;
	font-size: 0.16rem;
	/*margin-top: 0.12rem;
	margin-bottom: 0.25rem;
	padding-bottom: 0.1rem;
	padding-top: 0.34rem;*/
	/*background-image: url(http://qiniuapp.mqkji.cn/sprFesThBG.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;*/
}

.conetntCardTip {
	width: 100%;
	margin-top: 0.16rem;
	text-align: center;
	font-size: 0.16rem;
	font-weight: bold;
	color: rgba(253, 196, 129, 1);
	-webkit-text-stroke: 2px undefined;
	text-stroke: 2px undefined;
}

.conetntCardTip>span {
	color: #FFFFFF;
	-webkit-text-stroke: 2px undefined;
	text-stroke: 2px undefined;
}

.conetTip {
	font-size: 0.14rem;
	color: rgba(253, 196, 129, 1);
}


/*.conetntCardBg {
	width: 96%;
	padding: 0.1rem 0;
	margin: 0 auto;
	margin-top: -0.3rem;
	background-image: url(http://qiniuapp.mqkji.cn/janGoHomeCard.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}*/

.conetntDialNum { 
	width: 100%;
	/*height: 0.5rem;*/
	/*line-height: 0.5rem;*/
	margin: 0 auto;
	/*margin-right: 10%;*/
	color: #E8421A;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: -0.34rem;
	/*background-image: url(http://qiniuapp.hailangkeji.com/juneFourthDialNum.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;*/
}
/*.conetntDialNum p{
	text-align: left;
	padding-left: 12%;
}*/

/*.conetntDialNum span{
	color: #FFF000;
	font-size: 0.2rem;
}*/

.conetntReward {
	width: 92.6%;
	height: 0.7rem;
	line-height: 0.6rem;
	margin: 0 auto;
	margin-top: 0.1rem;
	font-size: 0.14rem;
	color: #FFF000;
	font-weight: bold;
	background-image: url(http://qiniuapp.hailangkeji.com/juneFourthDialSuc.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

.conetntTipBg {
	width: 92%;
	height: 2.34rem;
	margin: 0 auto;
	font-size: 0.12rem;
	color: #FFFFFF;
	background-image: url(http://qiniuapp.hailangkeji.com/juneFourthTipBg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}
.conetntTipBg p{
	width: 88%;
	margin: 0 auto;
	line-height: 0.2rem;
	text-align: left;
}

#lottery {
	width: 93.3%;
	max-width: 3.36rem;
	/*height: 2.98rem;*/
	/*padding: 0.20rem;*/
	margin: 0 auto;
	/*margin: 20px auto 0;*/
	background-size: cover;
	/*background-color: #000;*/
	background-image: url(http://qiniuapp.hailangkeji.com/octDstjNationalFirstBg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}
#lottery table{
	margin: 0 auto;
    /* padding: 0.2rem 0; */
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
}
#lottery table td {
	/*width: 0.77rem;*/
	height: 0.77rem;
	/* padding: 0; */
	padding: 0 0.04rem;
	text-align: center;
	line-height: 0.1rem;
	vertical-align: middle;
	font-size: 0.12rem;
	color: #904922;
	font-weight: bold;
	border-radius: 5px;
	font-index: -999;
}

#lottery table td img {
	width: 0.68rem;
	height: 0.5rem;
}

/*#lottery table td a {
	width: 0.77rem;
	height: 0.77rem;
	margin: 0 auto;
	line-height: 150px;
	display: block;
	text-decoration: none;
}*/

#lottery table td.td_1 {
	background-image: url(http://qiniuapp.hailangkeji.com/octDstjNationalFirstCardBg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

#lottery table td.td_2 {
	background-image: url(http://qiniuapp.hailangkeji.com/octDstjNationalFirstCardBg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

#lottery table td.td_3 {
	background-image: url(http://qiniuapp.hailangkeji.com/octDstjNationalFirstCardBg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

#lottery table td.td_4 {
	background-image: url(http://qiniuapp.hailangkeji.com/octDstjNationalFirstCardBg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

#lottery table td.td_5 {
	/*background:rgba(255,230,169,1);
	border:3px solid rgba(249,164,68,1);
	border-radius:5px;*/
}

#lottery table td.td_5 img {
	width: 0.77rem;
	height: 0.77rem;
	/*background:rgba(255,230,169,1);
	border:3px solid rgba(249,164,68,1);
	border-radius:5px;*/
}

#lottery table td.td_6 {
	background-image: url(http://qiniuapp.hailangkeji.com/octDstjNationalFirstCardBg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

#lottery table td.td_7 {
	/*background: rgba(255, 255, 255, 1);*/
	background-image: url(http://qiniuapp.hailangkeji.com/octDstjNationalFirstCardBg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
	/*background-color: #f9a444;*/
	/*border: 3px solid #f9a444;*/
}

#lottery table td.td_8 {
	background-image: url(http://qiniuapp.hailangkeji.com/octDstjNationalFirstCardBg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

#lottery table td.td_9 {
	background-image: url(http://qiniuapp.hailangkeji.com/octDstjNationalFirstCardBg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

.lottery-unit-add{
	background-image: url(http://qiniuapp.hailangkeji.com/octDstjNationalFirstCardBg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

#lottery table td.active {
	/*background-color: #f9a444;*/
	/*background: rgba(255, 255, 255, 1);*/
	/*width:0.66rem;
	height:0.66rem;*/
	margin: 0 auto;
	/*background: rgba(246, 220, 37, 1);*/
	background-image: url(http://qiniuapp.hailangkeji.com/octDstjNationalFirstCardAlBg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
	
	/*border: 1px solid rgba(255, 235, 194, 1);*/
	/*box-shadow: 0px 0px 3px 0px rgba(232, 102, 34, 0.5), 0px -2px 10px 0px rgba(232, 102, 34, 0.3);*/
	/*border-radius: 4px;*/
}


/*翻牌*/

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,
img {
	border: 0;
	text-decoration: none;
}


/*.conetntCardHead {
	text-align: center;
	font-size: 0.2rem;
	color: #FFFFFF;
	margin-top: 0.12rem;
}

.conetntCardHead span {
	font-size: 0.21rem;
	color: #FBFF9B;
	font-weight: bold;
}*/

.RechTip {
	width: 100%;
    padding-top: 0.18rem;
    padding-bottom: 0.20rem;
    text-align: center;
    font-size: 0.1rem;
    color: #FFFFFF;
    /* background: rgba(110, 197, 83, 0.8); */
    /* opacity: 0.8; */
}

.eggObtain {
	display: none;
	position: absolute;
	top: 0rem;
	left: 0rem;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}

#cardNumSur {
	color: #FFED77;
}


/*提示框*/

.myObtain {
	display: none;
	position: fixed;
	top: 0rem;
	left: 0rem;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 99;
}

.myObtainImg {
	/*position: fixed;*/
	/*left: 14%;*/
	width: 2.47rem;
	max-width: 68.62%;
	height: 2.5rem;
	/*top: 26%;*/
	margin: 0 auto;
	margin-top: 42%;
	background-image: url(http://qiniuapp.hailangkeji.com/octDstjNationalFirstAlertBg.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
	text-align: center;
	z-index: 99;
}

.FortuneHint {
	/* float: right; */
    width: 100%;
    /* left: 5%; */
    text-align: center;
    margin: 0 auto;
    /* margin-right: 8%; */
    /* margin-top: 0.26rem; */
    padding-top: 1.2rem;
    font-size: 0.17rem;
    color: #FFFFFF;
}

.FortuneHint>p:first-child {
	/*line-height: 0.3rem;*/
	/*margin-top:0.1rem;*/
	/*font-size: 0.14rem;*/
	/*color: #FFED77;*/
	/*margin-bottom: 0.1rem;*/
}

.FortuneHint>p:nth-child(2) {
	/*line-height: 0.3rem;*/
	/*font-size: 0.14rem;*/
	/*color: #FFFFFF;*/
}

.FortuneHint>p:nth-child(2) span {
	/*line-height: 0.3rem;*/
	font-size: 0.13rem;
	/*color: #FFED77;*/
}


/*.myObtainImg>div:first-child { 
	float: right;
	width: 15%;
	height: 0.4rem;
}*/

.FortuneBut {
	/*float: left;*/
	width: 1.4rem;
	height: 0.36rem;
	/*margin-left: 16%;*/
	margin: 0 auto;
	margin-top: 0.22rem;
	font-size: 0.17rem;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 0.34rem;
	background-image: url(http://qiniuapp.hailangkeji.com/octDstjNationalFirstAlertBut.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
	/*text-align: center;*/
}

.FortuneImg {
	width: 1.02rem;
	height: 0.76rem;
}

#heci {
	font-size: 0.16rem;
	/*color: #FFED77;*/
}

#drawDesc {
	/*font-size: 0.18rem;*/
	/*margin-top: 0.1rem;*/
	/*font-weight: bold;*/
}

canvas {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
}


/*ul{
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;  
    }
ul li{
    list-style-type:none;
    width: 0.91rem;
    height: 1.14rem;
    margin-bottom: 0.1rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    }*/

.sepAwardRecord {
	margin-top: 1.26rem;
	font-size: 0.17rem;
}

.activityStatust {
	font-size: 0.14rem;
	line-height: 0.2rem;
	margin-bottom: 0.08rem;
}

.sepAwardBut {
	float: left;
	width: 80%;
	height: 0.56rem;
	margin-left: 10%;
	color: #FEFEFF;
	margin-top: 0.02rem;
	font-size: 0.14rem;
	line-height: 0.56rem;
	border-radius: 2px;
	background-image: url(http://qiniuapp.mqkji.cn/sepBut.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
	text-align: center;
}

#myRecord {
	display: none;
    /* width: 72%; */
    /* height: 3.3rem; */
    font-size: 0.14rem;
    color: #FFFFFF;
    margin-top: 0.42rem;
}

#myRecord li {
	width: 80%;
	margin: 0 auto;
	line-height: 0.28rem;
	color: #E83E38;
	font-size: 0.14rem;
	margin-bottom: 0.02rem;
}

#myRecord li>div {
	float: left;
	font-size: 0.14rem;
}

.option01 {
	width: 40%;
}

.option02 {
	width: 20%;
}

.option03 {
	width: 30%;
	color: #F4473F;
}

#myRecord li>span {
	display: block;
    float: right;
    color: #000000;
    font-size: 0.15rem;
    margin-right: 40%;
}

#myRecord ul {
	height: 3.3rem;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0rem;
	overflow: scroll;
}

.mySupTip {
	width: 100%;
	color: #000000;
	font-size: 0.14rem;
	text-align: center;
	line-height: 0.4rem;
}


/*规则悬浮框*/

.mySupernatant {
	display: none;
	position: fixed;
	top: 0rem;
	left: 0rem;
	width: 100%;
	height: 100%;
	background-color: #E83E38;
}

.mySupernatantIonic {
	width: 0.13rem;
	height: 0.13rem;
	margin-left: 2%;
	margin-top: 0.14rem;
	background-image: url(http://qiniuapp.mqkji.cn/octoberScrClose.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
}
.mySupernatantTxt {
	width: 92%;
    margin: 0 auto;
    font-size: 0.14rem;
    color: #333333;
    background: rgba(255,250,250,1);
    border-radius: 5px;
}

.mySupernatantTxt p {
	width: 88%;
	margin: 0 auto;
	/*line-height: 0.24rem;*/
}

.mySupernatantTxt>p:first-child {
	/*margin-top: 0.24rem;*/
	font-size: 0.18rem;
	font-weight: bold;
	/*line-height: 0.46rem;*/
	text-align: center;
}

.mySupernatant>div:first-child {
	position: absolute;
	width: 100%;
	height: 0.28rem;
}

#myTip {
	display: none;
	/* background-color: #FFFFFF; */
    /*position: relative;*/
    /*top: 1rem;*/
    margin-top: 1rem;
    text-align: center;
    
    padding-top: 0.24rem;
    padding-bottom: 0.7rem;
}
#myTip p:first-child {
	color: #4EA150;
	padding-bottom: 0.18rem;
}
#myTip img {
	width: 2.95rem;
	/*height: 2.11rem;*/
	padding-top: 0.11rem;
	padding-bottom: 0.35rem;
}
#myRecord {
	display: none;
}
#myRecord p:first-child {
	padding-top: 0.24rem;
	padding-bottom: 0.18rem;
	color: #E83E38;
}