html{
	font-size: 100px;
}
body {
	width: 100%;
	height: 100%;
	/*overflow-x: hidden;*/
	background-color: #F3421F ;
	font-size: 0.14rem;
	font-family: "Microsoft YaHei", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.headTop {
	width: 100%;
	height: 1.88rem;
	/*background-color: #1C1C1C;*/
	background-image: url(http://qiniuapp.mqkji.cn/novTraHead.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

.headCenter {
	top: 0;
    width: 100%;
    height: 0.84rem;
    padding-top: 0.28rem;
    font-size: 0.14rem;
    /* border-radius: 5px; */
    text-align: center;
    background-image: url(http://qiniuapp.mqkji.cn/novTraBg01.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
}
.headCenterO{
	float: left;
	width: 30%;
	/*padding-top: 0.03rem;*/
}
.headCenterT{
	float: left;
	width: 70%;
	/*text-align: left;*/
}
.headCenterT>p {
	/*margin-top: 0.28rem;*/
	color: #333333;
}

.headCenterT>div {
	/*width: 100%;*/
	height: 0.35rem;
	line-height: 0.35rem;
	margin-top: 0.15rem;
	color: #FFFFFF;
	text-align: center;
}

.headCenterKnow {
	top: 0;
    width: 100%;
    height: 0.84rem;
    padding-top: 0.28rem;
    font-size: 0.14rem;
    /* border-radius: 5px; */
    text-align: center;
    background-image: url(http://qiniuapp.mqkji.cn/novTraBg01.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
}


.headButInfor {
	/*float: left;*/
	width: 1.5rem;
	height: 100%;
	/*margin-left: 14%;*/
	border-radius: 18px;
	margin: 0 auto;
	background: -webkit-linear-gradient(#FF6579, #DB3348);
	background: -o-linear-gradient(#FF6579, #DB3348);
	background: -moz-linear-gradient(#FF6579, #DB3348);
	background: linear-gradient(#FF6579, #DB3348);
}

.headButKnow {
	/* float: left; */
    width: 1.5rem;
    height: 100%;
    margin-left: 6%;
    border-radius: 18px;
    margin: 0 auto;
	background: -webkit-linear-gradient(#FFC630, #FE8915);
	background: -o-linear-gradient(#FFC630, #FE8915);
	background: -moz-linear-gradient(#FFC630, #FE8915);
	background: linear-gradient(#FFC630, #FE8915);
}

.headBot {
	width: 100%;
	/*height: 1.3rem;*/
	height: 0.7rem;
	background-color: #FFFFFF;
	padding-top: 0.56rem;
}

.contCardreward {
	width: 100%;
	height: 2.52rem;
	font-size: 0.14rem;
	/* border-radius: 5px; */
	text-align: center;
	background-image: url(http://qiniuapp.mqkji.cn/novTraBg02.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

.contCardreward>div:first-child {
	/* width: 100%; */
	height: 0.74rem;
	line-height: 0.92rem;
	text-align: right;
	color: #E8455A;
	font-size: 0.2rem;
	padding-right: 7%;
	font-weight: bold;
}

.contCardreward a {
	/*text-indent : 20px;*/
	margin-left: 0.25rem;
	color: #E8455A;
	font-size: 0.12rem;
}

.contCardreward>div:nth-child(3) {
    width: 86%;
    height: 0.38rem;
    margin: 0 auto;
    padding-top: 1.08rem;
    text-align: center;
    background-image: url(http://qiniuapp.mqkji.cn/novTraCard.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
}

.contCardrewardBut {
	width: 1.57rem;
	height: 0.3rem;
	line-height: 0.3rem;
	margin: 0 auto;
	color: #ffffff;
	font-size: 0.13rem;
	background: rgba(255, 153, 85, 1);
	border-radius: 8px;
}


/*代金券*/

.integVoucher {
	width: 100%;
	/*height: 1.46rem;*/
	text-align: center;
	padding: 0.16rem 0;
	/*color: #E8455A;
	font-size: 0.2rem;*/
	background-image: url(http://qiniuapp.mqkji.cn/novTraBg03.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

.integVoucher p {
	display: table-cell;
	vertical-align: middle;
}

.voucher8 {
	width: 94%;
	height: 0.97rem;
	margin: 0 auto;
	margin-top: 0.12rem;
	margin-bottom: 0.1rem;
	background-image: url(http://qiniuapp.mqkji.cn/novTraCard8.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

.voucher100 {
	width: 94%;
	height: 0.97rem;
	margin: 0 auto;
	margin-bottom: 0.1rem;
	background-image: url(http://qiniuapp.mqkji.cn/novTraFirstCard100.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

.voucher1000 {
	width: 94%;
	height: 0.97rem;
	margin: 0 auto;
	margin-bottom: 0.1rem;
	background-image: url(http://qiniuapp.mqkji.cn/novTraCard1000.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

.vouchers100 {
	width: 94%;
	height: 0.97rem;
	margin: 0 auto;
	margin-bottom: 0.1rem;
	background-image: url(http://qiniuapp.mqkji.cn/novTraCard100.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

.integFetch {
	width: 88%;
	height: 2.02rem;
	padding: 0 6%;
	margin-top: 0.08rem;
	/* text-align: center; */
	color: #ffffff;
	font-size: 0.14rem;
	background-image: url(http://qiniuapp.mqkji.cn/novTraTipBg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

.integFetch>p:first-child {
	font-size: 0.2rem;
	color: #FFFFFF;
	line-height: 0.6rem;
	text-align: center;
}

.integFetch span {
	color: #F8FF2D;
}

.voucherTxt {
	width: 100%;
	height: 0.35rem;
	padding: 0.1rem 0;
	font-size: 0.15rem;
	line-height: 0.15rem;
	margin-top: 0.35rem;
	background-color: #FFFFFF;
	padding-left: 6%;
}

.voucherRig>div {
	width: 0.59rem;
	height: 0.36rem;
	line-height: 0.36rem;
	margin: 0 auto;
	border-radius: 8px;
}


/*已错过   已完成   去完成*/


/*已完成*/

.voucherExchFin {
	color: #FE9119;
	border: 1px solid rgba(255, 164, 34, 1);
	background: rgba(255, 255, 255, 1);
}


/*已错过*/

.voucherExchMiss {
	color: #CCCCCC;
	border: 1px solid rgba(204, 204, 204, 1);
	background: rgba(255, 255, 255, 1);
}


/*去完成*/

.voucherExchFing {
	color: #FFFFFF;
	background: -webkit-linear-gradient(#FFC630, #FE8915);
	background: -o-linear-gradient(#FFC630, #FE8915);
	background: -moz-linear-gradient(#FFC630, #FE8915);
	background: linear-gradient(#FFC630, #FE8915);
}

.voucherRig {
	/*height: 100%;*/
	width: 32%;
	float: right;
	color: #333333;
	font-size: 0.13rem;
	text-align: center;
	padding-top: 0.32rem;
}

.voucherRig span {
	color: #CE9A61;
}

.voucherCen {
	height: 100%;
	width: 40%;
	float: right;
	text-align: left;
	line-height: 120%;
	/*margin-top: 0.25rem;*/
	font-size: 0.13rem;
	color: #333333;
	display: table;
	/* text-align: center; */
	/* padding-top: 0.25rem; */
	/* padding-left: 3%; */
}

.voucherCen span {
	color: #FF343B;
}

.voucherOne {
	height: 100%;
	width: 28%;
	float: right;
	color: #FFFFFF;
	font-size: 0.25rem;
	font-weight: bold;
	text-align: center;
	line-height: 0.96rem;
}

.headCenterOt {
	color: #FFFFFF;
	font-size: 0.12rem;
	width: 0.76rem;
	height: 0.2rem;
	line-height: 0.2rem;
	float: right;
	background-color: #EDC278;
	border-radius: 12px 0 0 12px;
	padding-right: 0.05rem;
}

.integFetchO {
	float: left;
	width: 65%;
	height: 100%;
}

.integFetchT {
	float: right;
	width: 34%;
	height: 100%;
	text-align: center;
	padding-top: 0.06rem;
}

.integFetchTo {
	width: 0.8rem;
	height: 0.22rem;
	line-height: 0.22rem;
	color: #FFFFFF;
	border-radius: 12px;
	background: -webkit-linear-gradient(left, #EDC278, #FADA9B);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #EDC278, #FADA9B);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #EDC278, #FADA9B);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #EDC278, #FADA9B);
	/* 标准的语法 */
	margin: 0 auto;
}

.integFetchTt {
	width: 0.8rem;
	height: 0.22rem;
	line-height: 0.22rem;
	color: #FFFFFF;
	border-radius: 12px;
	background-color: #CCCCCC;
	margin: 0 auto;
}

.boxbg {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	z-index: 100;
	/*overflow: hidden;*/
	background: rgba(0, 0, 0, 0.4);
	/*background-image: url(../images/socperEmpty.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;*/
}

.contCardFloat {
    position: absolute;
    display: none;
    width: 93%;
    padding-right: 7%;
    margin-top: -0.15rem;
    text-align: right;
    z-index: 200;
}

.contCardFloat img {
	width: 2.41rem;
	height: 1.38rem;
}

.receiveButImg {
	/* position: absolute; */
	/* top: 48%; */
	height: 0.2rem;
	width: 100%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	/* color: #FFFFFF; */
	font-size: 13px;
}

.receiveButImg span {
	color: #FF343B;
}

ul {
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

ul li {
	list-style-type: none;
	line-height: 30px;
	height: 30px;
	width: 100%;
}