html{
	font-size: 100px;
}
body {
	width: 100%;
	height: 100%;
	/*overflow-x: hidden;*/
	background-color: #3FA66C ;
	font-size: 0.14rem;
	font-family: "Microsoft YaHei", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.headTop {
	width: 100%;
	height: 2.5rem;
	/*background-color: #1C1C1C;*/
	background-image: url(http://qiniuapp.mqkji.cn/indexKnowHead.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}
p{
	display: block;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.conetnt {
	width: 100%;
}

.indexKnowCardbg {
	width: 94%;
	margin: 0 auto;
	padding-top: 0.14rem;
	margin-bottom: 0.15rem;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 10px 0px rgba(63, 166, 108, 0.45);
	border-radius: 5px;
}
.indexKnowCard01{
	/*height: 4.11rem;*/
	position: relative;
	height: 2rem;
	margin-top: -0.26rem;
	overflow: hidden;
}
.indexKnowCard01Img{
	width: 100%;
	margin-top: 0.16rem;
}
.indexKnowCard01 span{
	color: #FF4200;
}
.indexKnowCard01>div:first-child{
	width: 2.6rem;
	height: 0.42rem;
	margin: 0 auto;
	display: table;
	background-image: url(http://qiniuapp.mqkji.cn/indexKnowTit01.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}
.indexKnowCard01>div:first-child p{
	float: right;
    font-size: 0.12rem;
    color: #7285FD;
    margin-right: -0.2rem;
    margin-top: -0.02rem;
    display:table-cell;
    vertical-align:middle;
    
}
.indexKnowCard01>div:first-child img{
	width: 0.11rem;
	height: 0.11rem;
}
.indexKnowCard01>div:nth-child(2){
	width: 2.22rem;
	height: 0.29rem;
	line-height: 0.29rem;
	margin:  0 auto;
	margin-top: 0.1rem;
    margin-bottom: 0.14rem;
	text-align: center;
	color: #FFFFFF;
	font-size: 0.14rem;
	border-radius:15px;
	background: -webkit-linear-gradient(#FDB481 , #FE795D);
 	background: -o-linear-gradient(#FDB481 , #FE795D);
    background: -moz-linear-gradient(#FDB481 , #FE795D);
    background: linear-gradient(#FDB481 , #FE795D);
}
.indexKnowCard01>div:nth-child(3){
	width: 91%;
	line-height: 0.22rem;
	padding: 0 4.5%;
}
.knowTip{
	color: #666666;
	font-size: 0.1rem;
	line-height: 0.26rem;
}
.knowSwitch01{
	position: absolute; 
    top: 1.34rem;
    width: 100%; 
    height: 0.6rem; 
    margin: 0 auto; 
    color: #7285FD;
    font-size: 0.14rem;
    text-align: center;
    padding-top: 0.38rem;
    /* background: rgba(255, 255, 255, 0.8); */
    background-image: url(http://qiniuapp.mqkji.cn/indexKnowBg.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    /* z-index: 99999; */
}
			
.knowSwitch03{
	position: absolute; 
    top: 1.34rem;
    width: 100%; 
    height: 0.6rem; 
    margin: 0 auto; 
    color: #7285FD;
    font-size: 0.14rem;
    text-align: center;
    padding-top: 0.38rem;
    /* background: rgba(255, 255, 255, 0.8); */
    background-image: url(http://qiniuapp.mqkji.cn/indexKnowBg.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    /* z-index: 99999; */
}
.knowSwitch04{
	position: absolute; 
    top: 1.34rem;
    width: 100%; 
    height: 0.6rem; 
    margin: 0 auto; 
    color: #7285FD;
    font-size: 0.14rem;
    text-align: center;
    padding-top: 0.38rem;
    /* background: rgba(255, 255, 255, 0.8); */
    background-image: url(http://qiniuapp.mqkji.cn/indexKnowBg.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    /* z-index: 99999; */
}
.knowSwitch05{
	position: absolute; 
    top: 1.34rem;
    width: 100%; 
    height: 0.6rem; 
    margin: 0 auto; 
    color: #7285FD;
    font-size: 0.14rem;
    text-align: center;
    padding-top: 0.38rem;
    /* background: rgba(255, 255, 255, 0.8); */
    background-image: url(http://qiniuapp.mqkji.cn/indexKnowBg.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    /* z-index: 99999; */
}
.knowSwitch06{
	position: absolute; 
    top: 1.34rem;
    width: 100%; 
    height: 0.6rem; 
    margin: 0 auto; 
    color: #7285FD;
    font-size: 0.14rem;
    text-align: center;
    padding-top: 0.38rem;
    /* background: rgba(255, 255, 255, 0.8); */
    background-image: url(http://qiniuapp.mqkji.cn/indexKnowBg.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    /* z-index: 99999; */
}
.knowSwitch01 img{
	width: 1.5rem;
	height: 0.44rem;
}
.knowSwitch03 img{
	width: 1.5rem;
	height: 0.44rem;
}
.knowSwitch04 img{
	width: 1.5rem;
	height: 0.44rem;
}
.knowSwitch05 img{
	width: 1.5rem;
	height: 0.44rem;
}
.knowSwitch06 img{
	width: 1.5rem;
	height: 0.44rem;
}

.indexKnowCard02{
	position: relative;
	height: 2rem;
	overflow: hidden;
}
.indexKnowCard02 img{
	width: 100%;
}
.indexKnowCard02>div:first-child{
	width: 2.6rem;
	height: 0.42rem;
	margin: 0 auto;
	background-image: url(http://qiniuapp.mqkji.cn/indexKnowTit02.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}
.indexKnowCard02>div:nth-child(2) {
    width: 91%;
    line-height: 0.22rem;
    padding: 0 4.5%;
    margin-top: 0.21rem;
    /*background-image: url(http://qiniuapp.mqkji.cn/indexKnowBg02.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;*/
}
.indexKnowCard03{
	/*width: 100%;*/
	/*padding-bottom: 0.14rem;*/
	position: relative;
	height: 2rem;
	overflow: hidden;
}
.indexKnowCard03>div:first-child{
	width: 2.6rem;
	height: 0.42rem;
	margin: 0 auto;
	background-image: url(http://qiniuapp.mqkji.cn/indexKnowTit03.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}
.indexKnowCard03>div:nth-child(2) {
    width: 91%;
    line-height: 0.22rem;
    padding: 0 4.5%;
    margin-top: 0.2rem;
}
.indexKnowCard03Cen{
	/*width: 100%;
	height: 5.61rem;*/
}
.indexKnowCard03Cen>div{
	width: 50%;
	float: left;
	text-align: center;
	font-size: 0.12rem;
	
}
.indexKnowCard03Cen>div:first-child div{
	width: 80%;
	height: 0.25rem;
	line-height: 0.25rem;
	margin: 0 auto;
	color: #FFFFFF;
	background: -webkit-linear-gradient(#FDB481 , #FE795D);
 	background: -o-linear-gradient(#FDB481 , #FE795D);
    background: -moz-linear-gradient(#FDB481 , #FE795D);
    background: linear-gradient(#FDB481 , #FE795D);
	border-radius:13px;
}
.indexKnowCard03Cen>div:first-child p{
	color: #FE7B5E;
}
.indexKnowCard03Cen>div:nth-child(2) div{
	width: 80%;
	height: 0.25rem;
	line-height: 0.25rem;
	margin: 0 auto;
	color: #FFFFFF;
	background: -webkit-linear-gradient(#5CCEFD , #379DED);
 	background: -o-linear-gradient(#5CCEFD , #379DED);
    background: -moz-linear-gradient(#5CCEFD , #379DED);
    background: linear-gradient(#5CCEFD , #379DED);
	border-radius:13px;
}
.indexKnowCard03Cen>div:nth-child(2) p{
	color: #3AA1EE;
}
.indexKnowCard03>div:nth-child(3){
	width: 91%;
	line-height: 0.22rem;
	padding: 0 4.5%;
	margin-top: 0.8rem;
}

.indexKnowCard04{
	position: relative;
	/*width: 100%;*/
	overflow: hidden;
	height: 2rem;
	/*padding-bottom: 0.1rem;*/
}
.indexKnowCard04>div:first-child{
	width: 2.6rem;
	height: 0.42rem;
	margin: 0 auto;
	background-image: url(http://qiniuapp.mqkji.cn/indexKnowTit04.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}
.indexKnowCard04Cen{
    width: 91%;
    height: 0.4rem;
    line-height: 0.22rem;
    padding: 0 4.5%;
    margin-top: 0.2rem;
}
.indexKnowCard04Cen span{
	/*width: 100%;
	height: 5.61rem;*/
	color: #FF4200;
}
.indexKnowCard04Cen>div:first-child{
	width: 31%;
	height: 100%;
	float: left;
	background-image: url(http://qiniuapp.mqkji.cn/indexKnowCop.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
} 
.indexKnowCard04Cen>div:nth-child(2){
	float: right;
	width: 63%;
	height: 100%;
	font-size: 0.13rem;
} 
.indexKnowCard04>div:nth-child(3){
	width: 91%;
    /* height: 0.55rem; */
    /* line-height: 0.22rem; */
    margin: 0 auto;
    padding: 0.12rem 4.5%;
    margin-top: 0.1rem;
    background-image: url(http://qiniuapp.mqkji.cn/indexKnowEmpty.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
}
.indexKnowCard04>div:nth-child(3) p{
	font-size: 0.14rem;
}
.indexKnowCard04 span{
	color: #FF4200;
}
.indexKnowCard04CenT{
    width: 91%;
    height: 0.4rem;
    line-height: 0.22rem;
    padding: 0 4.5%;
    margin-top: 0.25rem;
}
.indexKnowCard04CenT>div:first-child{
	width: 31%;
	height: 100%;
	float: left;
	background-image: url(http://qiniuapp.mqkji.cn/indexKnowPro.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
} 
.indexKnowCard04CenT>div:nth-child(2){
	width: 63%;
	height: 100%;
	float: right;
}


.indexKnowCard05{
	position: relative;
	height: 2rem;
	/*padding-bottom: 0.1rem;*/
	overflow: hidden;
}
.indexKnowCard05>div:first-child{
	width: 2.6rem;
	height: 0.42rem;
	margin: 0 auto;
	background-image: url(http://qiniuapp.mqkji.cn/indexKnowTit05.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}
/*.indexKnowCard05>div{
	width: 91%; 
	font-size: 0.14rem;
}*/
.indexKnowCard05O{
	width: 91%;
	/*margin: 0 auto;*/
	height: 2.43rem;
	font-size: 0.14rem;
	margin: 0 auto;
	margin-top: 0.2rem;
	
}
.indexKnowCard05O>div{
	width: 0.83rem;
	height: 0.24rem;
	line-height: 0.24rem;
	color: #FFFFFF;
	border-radius:12px;
	margin-bottom: 0.1rem;
	text-align: center;
	background: -webkit-linear-gradient(#FDB481 , #FE795D);
 	background: -o-linear-gradient(#FDB481 , #FE795D);
    background: -moz-linear-gradient(#FDB481 , #FE795D);
    background: linear-gradient(#FDB481 , #FE795D);
}

.indexKnowCard05T{
	width: 91%;
	/*margin: 0 auto;*/
	height: 2.63rem;
	font-size: 0.14rem;
	margin: 0 auto;
	margin-top: 0.2rem;
	
}
.indexKnowCard05T>div{
	width: 1.06rem;
	height: 0.24rem;
	line-height: 0.24rem;
	color: #FFFFFF;
	border-radius:12px;
	margin-bottom: 0.1rem;
	text-align: center;
	background: -webkit-linear-gradient(#FDB481 , #FE795D);
 	background: -o-linear-gradient(#FDB481 , #FE795D);
    background: -moz-linear-gradient(#FDB481 , #FE795D);
    background: linear-gradient(#FDB481 , #FE795D);
}

.indexKnowCard05Th{
	width: 91%;
	/*margin: 0 auto;*/
	height: 1.5rem;
	font-size: 0.14rem;
	margin: 0 auto;
	margin-top: 0.2rem;
	
}
.indexKnowCard05Th span{
	color: #FF4200;
}
.indexKnowCard05Th>div{
	width: 0.83rem;
	height: 0.24rem;
	line-height: 0.24rem;
	color: #FFFFFF;
	border-radius:12px;
	margin-bottom: 0.1rem;
	text-align: center;
	background: -webkit-linear-gradient(#FDB481 , #FE795D);
 	background: -o-linear-gradient(#FDB481 , #FE795D);
    background: -moz-linear-gradient(#FDB481 , #FE795D);
    background: linear-gradient(#FDB481 , #FE795D);
}
.indexKnowCard05O img{
	width: 100%;
}
.indexKnowCard05T img{
	width: 100%;
}
.indexKnowCard05O p{
	margin-bottom: 0.1rem;
}
.indexKnowCard05T p{
	margin-bottom: 0.1rem;
}


.indexKnowCard06{
	position: relative;
	height: 2rem;
	overflow: hidden;
}
/*.indexKnowCard06>img{
	width: 100%;
}*/
.indexKnowCard06>div:first-child{
	width: 2.6rem;
	height: 0.42rem;
	margin: 0 auto;
	background-image: url(http://qiniuapp.mqkji.cn/indexKnowTit06.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}
.indexKnowCard06>div:nth-child(2) {
    width: 91%;
    line-height: 0.22rem;
    padding: 0 4.5%;
    margin-top: 0.21rem;
    /*background-image: url(http://qiniuapp.mqkji.cn/indexKnowBg02.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;*/
}
.indexKnowCard06>div:nth-child(3) {
    width: 91%;
    height: 7.2rem;
    margin: 0 auto;
    margin-top: 0.2rem;
    font-size: 0;
    background-image: url(http://qiniuapp.mqkji.cn/indexKnowKBg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}